<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="native" />
  <package id="CppSharp" version="0.10.1" targetFramework="native" developmentDependency="true" />
  <package id="libpng-v142" version="1.6.37.2" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.6" targetFramework="native" />
  <package id="NotificationsExtensions.Win10" version="14332.0.2" targetFramework="native" />
  <package id="NuGet.VisualStudio" version="4.6.4" targetFramework="native" />
  <package id="OpenCV.Win.Core" version="310.6.1" targetFramework="native" />
  <package id="Win2D.uwp" version="1.22.0" targetFramework="native" />
  <package id="zeroc.ice.v142" version="3.7.4" targetFramework="native" />
</packages>